.rodape {
    background-color: #246ac5;
    width: 100%;
    padding: 0.2rem 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
}
