  .neon {
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 1rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    animation: flicker 1.5s infinite alternate;
    width: 120px;
    text-align: center;
    margin-right: 60%;
    margin-top: 20px;
  }
  button.neon{
    background-color: #000000;
  }
  button.neon:hover{
    background-color: rgba(247, 196, 196, 0.8);
    color: black;
    cursor: pointer;
  }
    
  .margin > input {
    font-family: 'Asap', sans-serif;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    background: rgb(255, 255, 255);
    width: 95%;
    padding: 15px 10px;
    height: 2px;
  }
  
  .margin{
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    border: 0.8rem solid #f0eaea;
    animation: flicker 1.5s infinite alternate;
    text-align: center;
    overflow: hidden;
    padding: 40px 30px 30px 30px;
    border-radius: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 150px;;
    transform: translate(-50%, -50%);
  }
  
  @keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
      box-shadow: 0 0 0.5rem var(--neon-border-dim-color), inset 0 0 0.5rem var(--neon-border-dim-color), 0 0 0.5rem var(--neon-border-color), inset 0 0 .5rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 3rem var(--neon-border-color);
    }
    20%, 24%, 55% {
      text-shadow: none;
      -webkit-box-shadow: none;
              box-shadow: none;
    }
  }
  
  :root {
    font-size: 10px;
    --neon-text-color: #2d2d2d;
    --neon-border-color: #cc30ef;
    --neon-border-dim-color: #9a25b4;
  }
  .error-message{
    font-size: 15px;
    margin-top: 85px;
    position: absolute;
    width: 60%;
    left: 40%;
  }